html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    line-height: 2rem;
}

    body ::selection {
        color: white;
        background-color: #f8b617;
        line-height: 1rem;
    }

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #204c734d;
}

.text-indent {
    text-indent: 30px;
}

.navbar .a {
    text-transform: uppercase;
}

.navbar {
    background-color: #204c73;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link {
    color: white;
    text-transform: uppercase;
}

    .navbar-nav .nav-link:focus,
    .navbar-nav .nav-link:hover {
        color: #f8b617;
    }

.navbar-brand {
    color: white;
}

a .navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-toggler {
    border-color: #4599be;
}

    .navbar-toggler:active,
    .navbar-toggler:focus,
    .navbar-toggler:hover {
        text-decoration: none;
        border-color: #f8b617;
    }

        .navbar-toggler:active .navbar-toggler-icon,
        .navbar-toggler:focus .navbar-toggler-icon
        .navbar-toggler:hover .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(248, 122, 23, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(69, 153, 190, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dropdown-menu {
    background-color: #204c73;
    border-radius: 0px;
    border: none;
    margin: 0 0 0 0;
}

.dropdown-item {
    background-color: #204c73;
    color: white;
}

    .dropdown-item:focus,
    .dropdown-item:hover {
        color: #f8b617;
        text-decoration: none;
        background-color: inherit;
    }

.dropdown:hover >
.dropdown-menu {
    display: block;
}

/**********/
.nav-vertical-menu {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: rgba(0,105,155,1);
    text-align: center;
    width: 100%;
    line-height: 1rem;
}

    .nav-vertical-menu li {
        color: #fff;
        width: 100%;
        list-style: none;
    }

        .nav-vertical-menu li :hover {
            color: #fff;
            background-color: rgba(248,182,23,1);
            width: 100%;
        }

    .nav-vertical-menu a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        padding: 1rem;
        position: relative;
    }

        .nav-vertical-menu a:after {
            content: none;
        }

.current {
    background-color: rgba(248,182,23,1);
}

/**********/

a {
    color: #f8b617;
    text-decoration: none;
    /*/display: inline-block;*/
    position: relative;
    padding-bottom: .25rem;
}

    a:hover {
        color: #f8b617;
        text-decoration: none;
    }

    a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #f8b617;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    a:hover:after,
    a:active:after {
        width: 100%;
        left: 0;
    }

    a .a-block {
        color: none;
        text-decoration: none;
        display: inline-block;
        padding: 15px 20px;
        position: relative;
    }

.a-block:after {
    content: none;
}

.a-block :hover {
    content: none;
}

.btn-circle {
    width: 38px;
    height: 38px;
    border-radius: 19px;
    text-align: center;
    padding: 9px 0 0 0;
    font-size: 16px;
    background-color: #f8b617;
    text-decoration: none;
    color: white;
    border: none;
}

    .btn-circle:hover,
    .btn-circle:focus {
        background-color: #f8b617;
        color: white;
        border: none;
        box-shadow: none;
    }

        .btn-circle:hover:after {
            display: none;
        }

h1 {
    text-transform: uppercase;
}

p {
    line-height: 1.5rem;
    width: 100%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: uppercase;
}

footer {
    background-color: #204c73;
    background-size: cover;
    padding: 2rem 1rem 2rem 1rem;
    color: white;
    margin-top: 1rem;
}

    footer img {
        padding-top: 3rem;
    }

.fast-link {
    text-align: center;
    margin-bottom: 0.5rem;
}

    .fast-link a {
        color: white;
    }


.icon-bar {
    padding-left: 0;
}

    .icon-bar > .content {
        margin-left: 1rem;
        display: inline;
        margin-bottom: 0.5rem;
    }

        .icon-bar > .content a {
            padding: 0;
        }

.fa {
    width: 10px;
}

canvas {
    display: block;
    vertical-align: bottom;
}

.slogan-box {
    position: absolute;
    justify-content: space-evenly;
    right: 10%;
    background-color: #4599be;
    opacity: .5;
    transform: translateY(-180%);
}

    .slogan-box p {
        color: #fff;
        font-size: 2rem;
        margin: 1rem;
    }

#particles-js {
    position: relative;
    /*background-image: url(/images/bg.png);*/
    background-size: cover;
    width: 100%;
    height: 400px;
    box-shadow: inset 0 0 20px 0 #00699b80;
}

.stat-numeric {
    font-size: 2rem;
    color: #f8b617;
    font-weight: 600;
}

.link-btn:hover:after {
    display: none;
}

.text-deccortion-none :after {
    display: none;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1001;
    background-color: white;
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

/*Fix for IE11*/
.img-fluid {
    width: 100%;
}



.current {
    background-color: rgba(248,182,23,1);
}

/*Малые девайсы («ландшафтные телефоны», >= 576px)*/
@media (min-width: 576px) {
    .navbar-expand-sm
    .navbar-nav
    /*
    .dropdown-menu {
        padding-top: 1.5rem;
    }
        */
    .icon-bar {
        padding-left: 20%;
    }
}

/*Малые девайсы («ландшафтные телефоны», <= 576px)*/
@media (max-width: 575.98px) {
    .h5, h5 {
        font-size: 1rem;
    }
}

/*Средние девайсы («таблетки», >= 768px)*/
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*Большие девайсы (десктопы, >= 992px)*/
@media (min-width: 992px) {
}

/*Экстрабольшие девайсы (большие десктопы, >= 1200px)*/
@media (min-width: 1200px) {
    .slogan-box {
        right: 20%;
    }
}
