:root {
    --main-color: rgba(31, 76, 115, 1);
    --auxiliary-color: rgba(69, 153, 190, 1);
    --main-text-color: rgba(255,255,255,1);
    --link-text-color: rgba(248, 182, 23);
}

@font-face {
    font-family: 'Proxima Nova Condensed';
    src: local('Proxima Nova Condensed Light'), local('Proxima-Nova-Condensed-Light'), url('ProximaNovaCond-Light.woff2') format('woff2'), url('ProximaNovaCond-Light.woff') format('woff'), url('ProximaNovaCond-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: var(--link-text-color);
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

    a:hover {
        color: var(--link-text-color);
        text-decoration: none;
    }

    a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: var(--link-text-color);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    a:hover:after {
        width: 100%;
        left: 0;
    }


html {
    font-size: 16px;
}

p {
    line-height: 1.5rem;
}

@media (min-width: 576px) {
    .navbar-expand-sm
    .navbar-nav
    .dropdown-menu {
        padding-top: 1.5rem;
    }
}

/*Если больше чем 768*/
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    font-weight: 600;
    font-size: 100%;
    font-family: 'Proxima Nova Condensed';
}

footer {
    background-color: var(--main-color);
    background-size: cover;
    padding: 10px 15px 10px 15px;
    color: white;
    margin-top: 1rem;
}

    footer img {
        padding-top: 3rem;
    }

.fast-link {
    text-align: center;
    margin-bottom: 0.5rem;
}

    .fast-link a {
        color: white;
    }

.navbar {
    padding: 1.5rem 1rem;
}

    .navbar .a {
        text-transform: uppercase;
    }

.navbar-nav {
    background-color: var(--main-color);
    padding-left: 3rem;
}

    .navbar-nav .nav-link,
    .navbar-nav .nav-link {
        color: var(--main-text-color);
        text-transform: uppercase;
    }

        .navbar-nav .nav-link:focus,
        .navbar-nav .nav-link:hover {
            color: var(--link-text-color);
        }



.navbar-brand {
    color: var( --main-text-color);
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    color: var( --main-text-color);
    font-weight: 600;
}

.navbar-dark
.navbar-toggler {
    color: var(--main-text-color);
    border-color: var( --main-text-color);
}

.icon-bar {
    padding-left: 20%;
}

    .icon-bar > .content {
        margin-left: 1rem;
        display: inline;
        margin-bottom: 0.5rem;
    }

        .icon-bar > .content a {
            padding: 0;
        }


.dropdown-menu {
    background-color: var(--main-color);
    border-radius: 0px;
    border: none;
}

.dropdown-item {
    background-color: var(--main-color);
    color: var(--main-text-color);
}

    .dropdown-item:focus,
    .dropdown-item:hover {
        color: var(--link-text-color);
        text-decoration: none;
        background-color: inherit;
    }

.dropdown:hover >
.dropdown-menu {
    display: block;
}

canvas {
    display: block;
    vertical-align: bottom;
}

.slogan-box-1 {
    position: absolute;
    top: 30%;
    right: 20%;
    background-color: var(--auxiliary-color);
    opacity: .5;
}

    .slogan-box-1 p {
        color: #fff;
        font-size: 3rem;
        margin: 1rem;
        text-align: right;
    }

#particles-js {
    position: relative;
    /*background-image: url(/images/bg.png);*/
    background-size: cover;
    width: 100%;
    height: 600px;
    box-shadow: inset 0px 0px 20px 0px rgba(0, 10, 27, 0.5);
}

.stat-numeric {
    font-size: 2rem;
    color: var(--link-text-color);
    font-weight: 600;
}


.grayscale img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

    .grayscale img:hover {
        filter: grayscale(0%);
        filter: none;
    }

.grayscale > a:hover:after {
    display: none;
}
