
@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contacts</h1>

<div class="row">
    <div class="col-sm">
       <img src="~/images/ImgageNotAvailable.png" class="rounded-circle" alt="Cinque Terre">
    </div>
    <div class="col-sm">
        <h3>Иванов Иван Иванович</h3>
        <h4>Должность</h4>
        <h4>тел: <a href="tel:+375441233312">+7(814)-233-22-11</a></h4>
    </div>
</div>