@{
    ViewData["Title"] = "Главная";
}


<div class="container-fluid">
    <div class="d-none d-md-block w-100">
        <div id="particles-js">
        </div>
        <div class="slogan-box-1">
            <p>
                ВОПЛОЩАЕМ ВАШИ ИДЕИ В РЕАЛЬНОСТЬ
            </p>
        </div>
    </div>
</div>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">БОЛЕЕ <span class="stat-numeric" id="years">0</span> ЛЕТ В ПРОЕКТИРОВАНИИ </h3>
            <h3 class="text-center">БОЛЕЕ <span class="stat-numeric" id="proj_rb">0</span> ПРОЕКТОВ НА ТЕРРИТОРИИ РЕСПУБЛИКИ БЕЛАРУСЬ </h3>
            <h3 class="text-center">БОЛЕЕ <span class="stat-numeric" id="proj_sng">0</span> ПРОЕКТОВ НА ТЕРРИТОРИИ РОССИИ, УКРАИНЫ, КАЗАХСТАНА, ЛИТВЫ </h3>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="d-none d-md-block col-md-3" data-aos="fade-right">
            <img src="~/images/logo/logo_gipro_blue_bim.png" class="img-fluid" alt="Гипроживмаш BIM" />
        </div>
        <div class="col-md-9" data-aos="fade-left">
            <p class="text-justify">
                ОАО «Гипроживмаш» - это в первую очередь специалисты,
                имеющие опыт и современный взгляд на решение любых проблем.
                Мы творчески подходим к решению любых задач, доводим до совершенства любую деталь.
                Для нас нет невыполнимых задач, мы беремся за проекты любой сложности и всегда стараемся выполнить все качественно и в срок.
            </p>
            <p>
                ОАО «Гипроживмаш» осуществляет работы по проектированию и строительству зданий и сооружений,
                геодезенические и картографические работы, осуществляет работы в области промышленной и пожарной безопасности,
                осуществляет деятельность по обеспечению безопасности юридических и физических лиц.
            </p>
            <p>
                ОАО «Гипроживмаш» имеет сертификат соответствия Системы менеджмента качества проектирования требованиям СТБ ISO 9001
            </p>

        </div>
    </div>
    <br />

    <div class="row">
        <div class="grayscale d-none d-sm-block  col-sm-4 mb-3" data-aos="fade-up">
            <a target="_blank" href="https://www.belorusneft.by/">
                <img class="img-fluid grayscale" src="~/images/partners/belneft.png" />
            </a>
        </div>
        <div class="grayscale d-none d-sm-block  col-sm-4 mb-3" data-aos="fade-up">
            <a target="_blank" href="http://www.gomeldrev.by/">
                <img class="img-fluid" src="~/images/partners/gomeldrev.png" />
            </a>
        </div>
        <div class="grayscale d-none d-sm-block  col-sm-4 mb-3" data-aos="fade-up">
            <a target="_blank" href="https://www.gomelenergo.by/">
                <img class="img-fluid" src="~/images/partners/gomelenergo.png" />
            </a>
        </div>
        <div class="grayscale d-none d-sm-block col-sm-4 mb-3" data-aos="fade-up">
            <a target="_blank" href="https://www.gomselmash.by/">
                <img class="img-fluid" src="~/images/partners/gomselmash.png" />
            </a>
        </div>
        <div class="grayscale d-none d-sm-block  col-sm-4 mb-3" data-aos="fade-up">
            <a target="_blank" href="http://belfert.by/">
                <img class="img-fluid" src="~/images/partners/himzavod.png" />
            </a>
        </div>
        <div class="grayscale d-none d-sm-block col-sm-4 mb-3" data-aos="fade-up">
            <a target="_blank" href="http://kristall.by/">
                <img class="img-fluid" src="~/images/partners/kristall.png" />
            </a>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        AOS.init();
    </script>
    <script src="~/js/animateNumber-config.min.js"></script>
    <script src="~/js/particles-config.min.js"></script>
}
