
@{
    ViewData["Title"] = "Услуги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h5>
            ОАО «Гипроживмаш» входит в число проектных институтов, специализирующихся на выполнении проектных работ по расширению, реконструкции и техническому перевооружению промышленных предприятий и осуществляет следующие виды деятельности:
        </h5>
        <p class="font-weight-bolder">
            1 Проектирование и строительство зданий и сооружений I и II уровней ответственности и проведение инженерных изысканий для этих целей.
        </p>
        <p class="ml-2">
            1.1 Разработка проектной документации для строительства следующих видов зданий и сооружений I и II уровней ответственности:
        </p>
        <p class="ml-4">
            - производственные здания и сооружения и их комплексы;
            <br />
            - сельскохозяйственные здания и сооружения и их комплексы;
            <br />
            - жилые здания и их комплексы;
            <br />
            - общественные здания и сооружения и их комплексы.
            <br />
        </p>
        <p class="ml-2">
            1.2 Разработка разделов проектной документации:
        </p>
        <p class="ml-4">
            - генеральный план и транспорт;
            <br />
            - архитектурные решения;
            <br />
            - строительные решения;
            <br />
            - инженерное оборудование, сети и системы (тепло-, холодо-, водо-, газоснабжения, канализации, отопления, вентиляции и кондиционирования воздуха, электроснабжения, электрооборудования, электроосвещения, связи, радиофикации и телевидения);
            <br />
            - специальные разделы (охрана окружающей среды, инженерно-технические мероприятия гражданской обороны, мероприятия по предупреждению чрезвычайных ситуаций, организация строительства, защита строительных конструкций от коррозии);
            <br />
            - технологические решения.
            <br />
        </p>
        <p class="ml-2">
            1.3 Управление проектированием с привлечением субподрядных организаций (функции генерального проектировщика).
        </p>
        <p class="font-weight-bolder">
            2 Работы и услуги, составляющие геодезическую и картографическую деятельность специального назначения:
        </p>
        <p class="ml-2">
            2.1 Геодезические и картографические работы, выполняемые при инженерно-геодезических, геологических изысканиях, землеустроительных работах, изысканиях трасс линейных сооружений, иных изысканиях и специальных работах.
        </p>
        <p class="font-weight-bolder">
            3 Осуществление деятельности в области промышленной безопасности:
        </p>
        <p class="ml-2">
            3.1 Проектирование (конструирование) технических устройств, применяемых на опасных производственных объектах, на которых используется оборудование, работающее под давлением (трубопроводы пара и горячей воды III категории).
        </p>
        <p class="ml-2">
            3.2 Проектирование объектов газораспределительной системы и газопотребления;
        </p>
        <p class="ml-2">
            3.3 Проектирование (разработка технологического раздела) котельных;
        </p>
        <p class="ml-2">
            3.4 Проектирование радиационных объектов (рентгеновские кабинеты медицинского назначения, помещения для гамма-установок, рентгенодиагностические лаборатории).
        </p>
        <p class="font-weight-bolder">
            4 Осуществление деятельности по обеспечению пожарной безопасности.
        </p>
        <p class="font-weight-bolder">
            5 Осуществление деятельности по обеспечению безопасности юридических и физических лиц:
        </p>
        <p class="ml-2">
            5.1 Охрана юридическим лицом принадлежащих ему объектов (имущества); проектирование средств и систем охраны (за исключением средств индивидуального пользования).
        </p>
        <p class="font-weight-bolder">
            В настоящее время ОАО «Гипроживмаш» входит в структуру ГУ «Гомельское областное управление строительным комплексом» при Комитете по архитектуре и строительству Гомельского областного исполнительного комитета.
        </p>
    </div>
</div>

