@model Giprojivmash.WEB.Models.Portfolio.PortfolioPageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <link rel="stylesheet" type="text/css" href="~/lib/slick-carousel/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/slick-carousel/slick-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/fancyBox/jquery.fancybox.min.css">
    <link rel="stylesheet " type="text/css" href="~/css/main-slider.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/main-fancybox.min.css">
}

<div class="container">
    <div class="row">
        <div class="d-none d-sm-none d-md-none d-xl-block d-lg-block col-6">
            <div class="slider-wrap">
                <div class="slider-for">
                    <div>
                        <a data-fancybox="gallery" href="~/images/portfolio/kristall/1.jpg">
                            <img class="img-fluid" src="~/images/portfolio/kristall/1.jpg">
                        </a>
                    </div>
                    <div>
                        <a data-fancybox="gallery" href="~/images/portfolio/kristall/2.jpg">
                            <img class="img-fluid" src="~/images/portfolio/kristall/2.jpg">
                        </a>
                    </div>
                    <div>
                        <a data-fancybox="gallery" href="~/images/portfolio/kristall/3.jpg">
                            <img class="img-fluid" src="~/images/portfolio/kristall/3.jpg">
                        </a>
                    </div>
                    <div>
                        <a data-fancybox="gallery" href="~/images/portfolio/kristall/4.jpg">
                            <img class="img-fluid" src="~/images/portfolio/kristall/4.jpg">
                        </a>
                    </div>
                    <div>
                        <a data-fancybox="gallery" href="~/images/portfolio/kristall/5.jpg">
                            <img class="img-fluid" src="~/images/portfolio/kristall/5.jpg">
                        </a>
                    </div>
                    <div>
                        <a data-fancybox="gallery" href="~/images/portfolio/kristall/6.jpg">
                            <img class="img-fluid" src="~/images/portfolio/kristall/6.jpg">
                        </a>
                    </div>
                    <div>
                        <a data-fancybox="gallery" href="~/images/portfolio/kristall/7.jpg">
                            <img class="img-fluid" src="~/images/portfolio/kristall/7.jpg">
                        </a>
                    </div>
                    <div>
                        <a data-fancybox="gallery" href="~/images/portfolio/kristall/8.jpg">
                            <img class="img-fluid" src="~/images/portfolio/kristall/8.jpg">
                        </a>
                    </div>
                    <div>
                        <a data-fancybox="gallery" href="~/images/portfolio/kristall/9.jpg">
                            <img class="img-fluid" src="~/images/portfolio/kristall/9.jpg">
                        </a>
                    </div>
                    <div>
                        <a data-fancybox="gallery" href="~/images/portfolio/kristall/10.jpg">
                            <img class="img-fluid" src="~/images/portfolio/kristall/10.jpg">
                        </a>
                    </div>
                    <div>
                        <a data-fancybox="gallery" href="~/images/portfolio/kristall/11.jpg">
                            <img class="img-fluid" src="~/images/portfolio/kristall/11.jpg">
                        </a>
                    </div>
                    <div>
                        <a data-fancybox="gallery" href="~/images/portfolio/kristall/12.jpg">
                            <img class="img-fluid" src="~/images/portfolio/kristall/12.jpg">
                        </a>
                    </div>
                    <div>
                        <a data-fancybox="gallery" href="~/images/portfolio/kristall/13.jpg">
                            <img class="img-fluid" src="~/images/portfolio/kristall/13.jpg">
                        </a>
                    </div>
                    <div>
                        <a data-fancybox="gallery" href="~/images/portfolio/kristall/14.jpg">
                            <img class="img-fluid" src="~/images/portfolio/kristall/14.jpg">
                        </a>
                    </div>
                </div>
                <div class="slider-nav">
                    <div>
                        <img class="img-fluid" src="~/images/portfolio/kristall/1.jpg">
                    </div>
                    <div>
                        <img class="img-fluid" src="~/images/portfolio/kristall/2.jpg">
                    </div>
                    <div>
                        <img class="img-fluid" src="~/images/portfolio/kristall/3.jpg">
                    </div>
                    <div>
                        <img class="img-fluid" src="~/images/portfolio/kristall/4.jpg">
                    </div>
                    <div>
                        <img class="img-fluid" src="~/images/portfolio/kristall/5.jpg">
                    </div>
                    <div>
                        <img class="img-fluid" src="~/images/portfolio/kristall/6.jpg">
                    </div>
                    <div>
                        <img class="img-fluid" src="~/images/portfolio/kristall/7.jpg">
                    </div>
                    <div>
                        <img class="img-fluid" src="~/images/portfolio/kristall/8.jpg">
                    </div>
                    <div>
                        <img class="img-fluid" src="~/images/portfolio/kristall/9.jpg">
                    </div>
                    <div>
                        <img class="img-fluid" src="~/images/portfolio/kristall/10.jpg">
                    </div>
                    <div>
                        <img class="img-fluid" src="~/images/portfolio/kristall/11.jpg">
                    </div>
                    <div>
                        <img class="img-fluid" src="~/images/portfolio/kristall/12.jpg">
                    </div>
                    <div>
                        <img class="img-fluid" src="~/images/portfolio/kristall/13.jpg">
                    </div>
                    <div>
                        <img class="img-fluid" src="~/images/portfolio/kristall/14.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-6 col-lg-6">
            <h3>Возведение и реконструкция «КРИСТАЛЛ-ХОЛДИНГ»</h3>
            <div class="icon-bar">
                <i class="fa fa-map-marker"></i>
                <div class="content">
                    <a target="_blank" href="https://yandex.by/maps/-/CCQxBZuuOD">
                        ул. Черниговская, 22 «Б»,
                        г. Гомель, 246042,
                        Республика Беларусь
                    </a>
                </div>
            </div>
            <div class="d-block d-sm-block d-md-block d-lg-none d-xl-none">
                <div>
                    <img class="img-fluid" src="~/images/portfolio/kristall/1.jpg">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">
                    <h4>Год постройки</h4>
                    <p>2016</p>
                </div>
                <div class="col-6">
                    <h4>Площадь объекта</h4>
                    <p>Территории в ограде 1,16 гa</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h4>Формат работ</h4>
                    <p>Проектирование</p>
                </div>
                <div class="col-6">
                    <h4>Тип здания</h4>
                    <p>Объект промышленного назначения</p>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-justify">Строительный проект «Производственное и техническое развитие ОАО Гомельское ПО «Кристалл» - управляющая компания холдинга «КРИСТАЛЛ-ХОЛДИНГ» выполнен в соответствии с заданием на проектирование, техническим регламентом «Здания и сооружения, строительные материалы и изделия. Безопасность», актами законодательства Республики Беларусь, межгосударственными и национальными ТНПА, с соблюдением технических условий.</p>
            <p class="text-justify"> Реализация инвестиционного проекта осуществляется поэтапно с выделением четырёх пусковых комплексов.</p>
            <p class="text-justify">В первом пусковом комплексе проектом предусматривалось строительство новых зданий и сооружений:</p>
            <ul>
                <li>инструментальный цех с бытовыми помещениями;</li>
                <li>административный корпус;</li>
                <li>заготовительный участок, ЦМС;</li>
                <li>резервуар - накопитель дождевых вод от внутренних водостоков вместимостью 100 м³;</li>
                <li>очистные сооружения мойки дисков;</li>
                <li>насосная станция дождевых вод;</li>
                <li>КТП Б 2х1000 кВА.</li>
            </ul>
            <p class="text-justify">Также в первом пусковом комплексе предусмотрено устройство помещения ЦТП в существующей пристройке реконструируемого корпуса ювелирного производства, реконструкция распределительного пункта 10кВ и инженерных сетей.</p>
            <p class="text-justify">Реализация проектных решений первого пускового комплекса была начата в 2015 году и успешно завершена в 2016 году.</p>
            <p class="text-justify">Проектными решениями второго пускового комплекса предусмотрено проведение работ по реконструкции второго этажа корпуса алмазообрабатывающего производства.</p>
            <p class="text-justify">Проектом третьего пускового комплекса предусматривается проведение следующих работ:</p>
            <ul>
                <li>реконструкция первого этажа корпуса алмазообрабатывающего производства со столовой с капитальным ремонтом цокольного этажа;</li>
                <li>капитальный ремонт лабораторно-административного корпуса;</li>
                <li>реконструкция участка регенерации корпуса ювелирного производства с трубой дымовой для сжигания отходов;</li>
                <li>реконструкция прачечной в корпусе ЦТП;</li>
                <li>строительство гаража-стоянки боксового типа на 6 автомобилей;</li>
                <li>строительство навесов на 4 автомобиля;</li>
                <li>строительство кладовой хранения ЛВЖ.</li>
            </ul>
            <p class="text-justify">Реконструкция корпуса ювелирного производства предусматривается четвертым пусковым комплексом.</p>
            <p class="text-justify">Реализация проектных решений второго и третьего пусковых комплексов начата в 2017 году.</p>
        </div>
    </div>
    <div class="row">

        <div class="col-12 col-sm-12 col-md-6 offset-md-6">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <form>
                    <button type="submit" class="btn btn-orange" asp-action="Himzavod" asp-controller="Portfolio">
                        <span class="btn-orange-caption">
                            Реконструкция здания тепловой электро станции <br />
                            ОАО «Гомельский химический завод»
                        </span>
                        <span class="fa fa-angle-double-right btn-orange-icon"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript" src="~/lib/slick-carousel/slick.min.js"></script>
    <script src="~/lib/fancyBox/jquery.fancybox.min.js"></script>
    <script>
        $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            asNavFor: '.slider-nav'
        });
        $('.slider-nav').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            dots: true,
            centerMode: true,
            focusOnSelect: true
        });
    </script>
}

