@model Giprojivmash.WEB.Models.About.VacancyViewModel 
@{
    ViewData["Title"] = "Vacancy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="text-center">
    К сожалению, в настоящий момент у нас нет открытых вакансий
</h4>