<p class="text-justify">
    Разработка проектной документации – это вторая стадия после эскизного проекта здания. В список документов обязательно входят подробнейшие чертежи, как типовых строительных конструкций, так и уникальных конструктивных решений.
</p>
<img class="img-fluid pb-4" src="~/images/services/big/design.jpg" />
<h5>
    Разработка проектной документации
</h5>
<p class="text-justify">
    Мы проводим разработку проектной документации для следующих видов здания:
</p>
<ul class="text-justify pl-5">
    <li>производственные здания и сооружения и их комплексы;</li>
    <li>сельскохозяйственные здания и сооружения и их комплексы;</li>
    <li>жилые здания и их комплексы;</li>
    <li>общественные здания и сооружения и их комплексы.</li>
</ul>
<h5>
    Разработка разделов проектной документации
</h5>
<p class="text-justify">
    Мы проводим разработку разделов проектной документации:
</p>
<ul class="text-justify pl-5">
    <li> генеральный план и транспорт;</li>
    <li>архитектурные решения;</li>

    <li>строительные решения;</li>

    <li>
        инженерное оборудование, сети и системы (тепло-, холодо-, водо-, газоснабжения, канализации, отопления, вентиляции и кондиционирования воздуха, электроснабжения, электрооборудования, электроосвещения, связи, радиофикации и телевидения);
    </li>
    <li>
        специальные разделы (охрана окружающей среды, инженерно-технические мероприятия гражданской обороны, мероприятия по предупреждению чрезвычайных ситуаций, организация строительства, защита строительных конструкций от коррозии);
    </li>
    <li>
        технологические решения;
    </li>
    <li>
        проводим контроль за проектированием с привлечением субподрядных организаций (функции генерального проектировщика)
    </li>
</ul>

