<p class="text-justify">
    Инженерно-экологические изыскания — это комплексные исследования компонентов окружающей среды, а также техногенных и социально-экономических условий в районе расположения проектируемого объекта с целью экологического обоснования строительства и иной хозяйственной деятельности.
</p>
<img class="img-fluid pb-4" src="~/images/services/big/ecology.jpg" />
<h5>
    Выполняемые работы
</h5>
<p class="text-justify">
    Выполняем работы в составе инженерно-экологических изысканий:
</p>
<ul class="text-justify pl-5">
    <li>сбор и анализ материалов инженерно-геологических изысканий выполненных ранее;</li>
    <li>полевые исследования прочностных свойств грунтов методом статического зондирования;</li>
    <li>полевые испытания грунтов статическими нагрузками (штампом);</li>
</ul>
