<p class="text-justify">
    Экологическое проектирование посвящено практическим вопросам, касающимся учету экологических факторов при разработке и реализации проектных решений.
</p>
<p class="text-justify">
    Экологическое проектирование направлено на определение параметров воздействия, прогнозирования изменений в окружающей среде с учетом требованиям природоохранного законодательства. Экологическое проектирование широко применяется на практике, так как оно связано с процедурами оценки воздействия на окружающую среду и экологической экспертизой объектов, которые относятся к потенциально экологически опасным. Но экологическое проектирование выполняется и для других планируемых видов деятельности, не требующих проведения государственной экологической экспертизы.
</p>
<img class="img-fluid pb-4" src="~/images/services/big/ecology.jpg" alt="экологическое проектирование"/>
<h5>
    Разработка экологических разделов проектной документации.
</h5>
<p class="text-justify">
    Раздел «Охрана окружающей среды» разрабатывается в составе проектной и иной документации на возведение,
    реконструкцию, модернизацию, капитальный ремонт и реставрацию зданий и сооружений, благоустройство, снос,
    рекультивацию объектов, а также проектной документации на мобильные (передвижные) установки (комплексы).
</p>
<p class="text-justify">
    В экологическом паспорте проекта отражаются сводные характеристики воздействий на компоненты природной среды.
    Отчет об оценке воздействия на окружающую среду – документ, содержащий сведения о результатах проведенной
    оценки воздействия на окружающую среду, а также об источниках и видах воздействия планируемой хозяйственной
    и иной деятельности на окружающую среду, о проектных решениях и мероприятиях по охране окружающей среды и
    рациональному использованию природных ресурсов.
</p>
<h5>
    Разработка проекта санитарно-защитной зоны (проект СЗЗ)
</h5>
<p class="text-justify">
    Санитарно-защитная зона (далее – СЗЗ) – территория, размер которой обеспечивает достаточный
    уровень безопасности для здоровья населения от вредного химического, биологического, физического воздействия объектов,
    соблюдение установленных гигиенических нормативов и приемлемых уровней риска для жизни и здоровья населения на границе СЗЗ и за ее пределами.
</p>

