<p class="text-justify">
    Инженерно-геодезические изыскания — это комплекс работ, направленный на получение информации о рельефе и ситуации местности; служит основой для проектирования, и для проведения других видов изысканий и обследований.
</p>
<img class="img-fluid pb-4" src="~/images/services/big/geodesy.jpg" alt="инженерно-геодезические изыскания" />
<h5>
    Выполняемые работы
</h5>
<p class="text-justify">
    Выполняем работы в составе инженерно-геодезических изысканий:
</p>
<ul class="text-justify pl-5">
    <li>сбор и анализ материалов ранее выполненных инженерно-геологических изысканий;</li>
    <li>
        Построение опорных геодезических сетей;
    </li>
    <li>создание планово-высотных съемочных геодезических сетей;</li>
    <li>
        нивелирование II, III, и IV классов, техническое нивелирование;
    </li>
    <li>
        cоздание геодезической разбивочной основы для строительства;
    </li>
    <li>топографическая съемка, включая съемку подземных и надземных инженерных сооружений;</li>
    <li>обновление (корректура) топографических планов;</li>
    <li>наблюдения за осадками и деформациями зданий и сооружений;</li>
    <li>
        определение вертикальности сооружений;
    </li>
    <li>
        полный пакет согласований инженерных сетей на исследуемом участке с эксплуатирующими организациями.
    </li>
</ul>
