<p class="text-justify">
    Промышленная безопасность – состояние защищенности жизненно важных интересов личности и общества от возникновения аварий и инцидентов, обеспеченное комплексом организационных и технических мероприятий, установленных настоящим Законом и иными актами законодательства;
</p>
<img class="img-fluid pb-4" src="~/images/services/big/industrialSafety.jpg" alt="промышленная безопасность"/>
<h5>
    Выполняемые работы
</h5>
<p class="text-justify">
    Выполняем работы в области промышленной безопасности:
</p>
<ul class="text-justify pl-5">
    <li>проектирование (конструирование) технических устройств, применяемых на опасных производственных объектах, на которых используется оборудование, работающее под давлением (трубопроводы пара и горячей воды III категории);</li>
    <li>проектирование объектов газораспределительной системы и газопотребления;</li>
    <li>проектирование (разработка технологического раздела) котельных;</li>
    <li>проектирование радиационных объектов (рентгеновские кабинеты медицинского назначения, помещения для гамма-установок, рентгенодиагностические лаборатории);</li>
    <li>проектирование систем по обеспечению пожарной безопасности;</li>
    <li>cистемы пожаротушения и системы автоматического пожаротушения;</li>
    <li>системы пожарной вентиляции и дымоудаления.</li>
</ul>
