<p class="text-justify">
    Экономическое обоснование стиций — это разработка бизнес-плана, в котором детально демонстрируется схема,
    стадии исполнения, источники финансирования, риски и прибыльность проекта. Также в данную процедуру включены
    расчеты с выявлением возможностей повышения экономической эффективности и надежности проекта за счет
    совершенствования проектных решений, более рационального использования ресурсов и прочих факторов.
</p>
<img class="img-fluid pb-4" src="~/images/services/big/engineering.jpg" alt="экономическое обоснование инвестиций" />
<h5>
    Обоснование
</h5>
<p class="text-justify">
    Мы проводим обоснование учитывая следующие факторы:
</p>
<ul class="text-justify pl-5">
    <li>цели реализации инвестиционного проекта;</li>
    <li>
        политика в области сбыта продукции на основе прогноза конъюнктуры рынка;
    </li>
    <li>
        выбор импортного оборудования;
    </li>
    <li>
        источники, порядок и очередность приобретения технологического оборудования, требования к основному технологическому оборудованию и его краткая характеристика;
    </li>
    <li>
        выбор места размещения объекта строительства на основе критериев оптимальности (экономических, социальных, экологических);
    </li>
    <li>
        политика в области сбыта продукции на основе прогноза конъюнктуры рынка;
    </li>
    <li>
        выбор импортного оборудования;
    </li>
    <li>
        источники, порядок и очередность приобретения технологического оборудования, требования к основному технологическому оборудованию и его краткая характеристика;
    </li>
    <li>
        выбор места размещения объекта строительства на основе критериев оптимальности (экономических, социальных, экологических);
    </li>
    <li>
        потребность и качество ресурсов, предоставляемых через инженерную инфраструктуру (водоснабжение, теплоснабжение, электроснабжение, газоснабжение, водоотведение, твердые отходы и иные ресурсы);
    </li>
    <li>
        мероприятий по стимулированию сбыта продукции, в том числе на внешнем рынке (при необходимости);
    </li>
</ul>
<h5>
    Оценка и расчеты
</h5>
<p class="text-justify">
    При проведении обоснований учитывается так же определенный ряд показателей:
</p>
<ul class="text-justify pl-5">
    <li>
        показатели характеризующие площадь здания (сооружения);
    </li>
    <li>
        численности населения (для застройки жилого района, микрорайона);
    </li>
    <li>
        изменения цен по всем составляющим элементам дохода и издержек производства по годам расчетного периода;
    </li>
    <li>
        спроса с учетом уровня цен, инфляции, состояния деловой активности;
    </li>
    <li>
        производственно-технологическая структуры и состава предприятия с данными о мощности его основных производств;
    </li>
    <li>
        оценка здания и сооружения, внутренних и наружных инженерных систем.
    </li>
    <li>
        по организации подготовки рабочих кадров для предприятия;
    </li>
    <li>
        по организации контроля качества продукции, в том числе сырья, вспомогательных материалов и полуфабрикатов
    </li>
    <li>
        по организации складского хозяйства и ремонтно-вспомогательных служб;
    </li>
</ul>

