<p class="text-justify">
    Системы безопасности — это комплекс для защиты различных объектов имущества (зданий, включая прилегающую к ним территорию, отдельных помещений и пр.) от процессов (явлений) криминального характера или техногенного процесса. Основное назначение — предупредить, по возможности предотвратить или способствовать предотвращению ситуаций, в которых будет нанесён вред людям или материальным и не материальным ценностям.
</p>
<img class="img-fluid pb-4" src="~/images/services/big/safety.jpg" />
<h5>
    Выполняемые работы
</h5>
<p class="text-justify">
    Выполняем работы по обеспечению безопасности юридических и физических лиц, а также объектов принадлежащих им:
</p>
<ul class="text-justify">
    <li>проектирование средств и систем охраны (за исключением средств индивидульного пользования);</li>
    <li>проектирование систем контроля и управления доступа (СКУД) любого уровня сложности;</li>
    <li>проектирование систем охранной сигнализации: автономных и со сдачей на Департамент охраны.</li>
    <li>проектирование систем обеспечению пожарной безопасности;</li>
    <li>cистемы пожаротушения и системы автоматического пажаротушения;</li>
    <li>системы пажарной вентиляции и дымоудаления;</li>
</ul>
