@model Giprojivmash.WEB.Models.ServiceViewModel
@{
    ViewData["Title"] = "Проектировнаие";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-4">
            @await Html.PartialAsync("_panel_services", Model)

        </div>
        <div class="col-8">
            <h1>@Model.ServiceFirstLayerList.ElementAt(0).Title</h1>
            <p>
                @Model.ServiceFirstLayerList.ElementAt(0).Description
            </p>
            @{ 
                var serviceSecondLayerList = Model.ServiceSecondLayerList.Where(m => m.ServiceFirstLayerId == Model.ServiceFirstLayerList.ElementAt(0).Id).ToList();
            }
            @for (var i = 0; i < serviceSecondLayerList.Count; i++)
            {
                var currentSecondService = Model.ServiceSecondLayerList.ElementAt(i); 
                <p>
                    @currentSecondService.Description
                </p>
                var serviceThirdLAyerList = Model.ServiceThirdLayerList.Where(m => m.ServiceSecondLayerId == currentSecondService.Id).ToList();
                @for (var j = 0; j < serviceThirdLAyerList.Count; j++)
                {
                    <p>
                        @serviceThirdLAyerList.ElementAt(j).Description
                    </p>
                }
            }
            <p>
            </p>
        </div>
    </div>
</div>

