@model Giprojivmash.WEB.Models.DesignViewModel
@{
    ViewData["Title"] = "Контакты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-4">
            @await Html.PartialAsync("_panel_services", Model)

        </div>
        <div class="col-8">
            <h1>@Model.ServiceFirstLayer.Title</h1>
            <p>
                @Model.ServiceFirstLayer.Description
            </p>
            @for (var i = 0; i < Model.ServiceSecondLayerList.Count; i++)
            {
                var currentSecondService = Model.ServiceSecondLayerList.ElementAt(i); 
                <p>
                    @currentSecondService.Description
                </p>
                var serviceThirdLAyerList = Model.ServiceThirdLayerList.Where(m => m.ServiceSecondLayerId == currentSecondService.Id).ToList();
                @for (var j = 0; j < serviceThirdLAyerList.Count; j++)
                {
                    <p>
                        @serviceThirdLAyerList.ElementAt(j).Description
                    </p>
                }
            }
            <p>
            </p>
        </div>
    </div>
</div>

