@model Giprojivmash.WEB.Models.Home.IndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <link rel="stylesheet" href="~/lib/grayScale/css/gray.min.css" />
    <link rel="stylesheet" href="~/lib/aosAnimate/aos.css" />
}


<div class="container-fluid">
    <div class="col-12 w-100">
        <div id="particles-js">
        </div>
        <div class="slogan-box">
            <p class="slogan-caption">
                ВОПЛОЩАЕМ ВАШИ ИДЕИ В РЕАЛЬНОСТЬ
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <h3 class="text-center"><span class="stat-numeric" id="years">0</span> ЛЕТ В ПРОЕКТИРОВАНИИ И БОЛЕЕ <span class="stat-numeric" id="customer">0</span> ЗАКАЗЧИКОВ </h3>
            <h3 class="text-center">БОЛЕЕ <span class="stat-numeric" id="proj_rb">0</span> ПРОЕКТОВ НА ТЕРРИТОРИИ РЕСПУБЛИКИ БЕЛАРУСЬ </h3>
            <h3 class="text-center">БОЛЕЕ <span class="stat-numeric" id="proj_sng">0</span> ПРОЕКТОВ НА ТЕРРИТОРИИ РОССИИ, УКРАИНЫ, КАЗАХСТАНА, ЛИТВЫ </h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="d-md-flex align-self-center col-md-4" data-aos="fade-right">
            <img src="~/images/logo/logo_gipro_blue_bim.png" class="img img-fluid" alt="Гипроживмаш BIM" />
        </div>
        <div class="col-md-8" data-aos="fade-left">
            <p class="text-justify">
                ОАО «Гипроживмаш» - это в первую очередь специалисты,
                имеющие опыт и современный взгляд на решение любых проблем.
                Мы творчески подходим к решению любых задач, доводим до совершенства любую деталь.
                Для нас нет невыполнимых задач, мы беремся за проекты любой сложности и всегда стараемся выполнить все качественно и в срок.
            </p>
            <p class="text-justify">
                ОАО «Гипроживмаш» осуществляет работы по проектированию и строительству зданий и сооружений,
                геодезические и картографические работы, осуществляет работы в области промышленной и пожарной безопасности,
                осуществляет деятельность по обеспечению безопасности юридических и физических лиц.
            </p>
            <p class="text-justify">
                На ОАО «Гипроживмаш» внедрена система менеджмента качества проектирования требованиям <a target="_blank" href="/лицензии-и-сертификаты#gallery-9">СТБ ISO 9001</a>.
            </p>
        </div>
    </div>
    <div class="row">
        <a asp-action="Design" asp-controller="Service" class="col-md-4 a-block p-1">
            <div class="thumbnail" data-aos="fade-left">
                <div class="background" style="background-image: url(/images/services/design.jpg)">
                </div>
                <span class="caption">
                    <span class="name">Проектирование</span>
                    <span class="description d-none d-xl-block">Комплексные решения в проектировании объектов любой сложности</span>
                </span>
            </div>
        </a>
        <a asp-action="InvestmentJustification" asp-controller="Service" class="col-md-4 a-block p-1">
            <div class="thumbnail" data-aos="fade-left" data-aos-delay="150">
                <div class="background" style="background-image: url(/images/services/engineering.jpg)">
                </div>
                <span class="caption">
                    <span class="name">Обоснование инвестиций</span>
                    <span class="description  d-none d-xl-block">Инженерные и консультационные услуги на профессиональном уровне</span>
                </span>
            </div>
        </a>
        <a asp-action="Geodesy" asp-controller="Service" class="col-md-4 a-block p-1">
            <div class="thumbnail" data-aos="fade-left" data-aos-delay="300">
                <div class="background" style="background-image: url(/images/services/geodesy.jpg)">
                </div>
                <span class="caption">
                    <span class="name">Инженерно-геодезические изыскания</span>
                    <span class="description  d-none d-xl-block">Проводим работы с использованием высокоточного оборудования и современного програмного обеспечение</span>
                </span>
            </div>
        </a>
    </div>
    <div class="row">
        <a asp-action="Ecology" asp-controller="Service" class="col-md-4 a-block p-1">
            <div class="thumbnail" data-aos="fade-right" data-aos-delay="300">
                <div class="background" style="background-image: url(/images/services/ecology.jpg)">
                </div>
                <span class="caption">
                    <span class="name"> Экологическое проектирование</span>
                    <span class="description  d-none d-xl-block">Проводим работы с использованием высокоточного оборудования и современного програмного обеспечение</span>
                </span>
            </div>
        </a>
        <a asp-action="IndustrialSafety" asp-controller="Service" class="col-md-4 a-block p-1">
            <div class="thumbnail" data-aos="fade-right" data-aos-delay="150">
                <div class="background" style="background-image: url(/images/services/industrialSafety.jpg)">
                </div>
                <span class="caption">
                    <span class="name">Промышленная безопасность</span>
                    <span class="description  d-none d-xl-block">Проектирование технических устройств применяемых на опасных производственных объектах</span>
                </span>
            </div>
        </a>
        <a asp-action="SystemSafefty" asp-controller="Service" class="col-md-4 a-block p-1">
            <div class="thumbnail" data-aos="fade-right" data-aos-delay="0">
                <div class="background" style="background-image: url(/images/services/safety.jpg)">
                </div>
                <span class="caption">
                    <span class="name">Системы безопасности</span>
                    <span class="description  d-none d-xl-block">Проектирование систем пожаробезопасности и систем охраны</span>
                </span>
            </div>
        </a>
    </div>

    <div class="row mt-3 mb-3">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="https://www.liftmach.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/1.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="https://www.belorusneft.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/long/1.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="http://www.gomelglass.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/2.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="https://belsteel.com/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/3.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="https://oaogsm.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/long/2.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="https://stankogomel.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/4.jpg" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="http://www.uks-kontakt.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/5.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="http://gocore.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/long/3.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="http://kristall.by//">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/6.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="https://8marta.com/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/7.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="http://gomelenergo.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/long/4.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="https://spartak.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/8.jpg" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="https://www.rw.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/9.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="https://www.gomselmash.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/long/5.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="http://vsz.gomel.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/10.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="http://www.transoil.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/11.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="http://www.gomelavto.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/long/6.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="https://mnpz.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/12.jpg" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="http://www.gomeldrev.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/13.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="https://alcopack.by//">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/long/7.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/14.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="http://ingman.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/15.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="http://belfert.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/long/8.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="https://gomelvodokanal.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/16.jpg" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="http://mozles.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/17.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="https://lukoil.by/ru/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/long/9.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="http://www.ztklestur.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/18.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="http://www.rcrm.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/19.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="https://beltelecom.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/long/10.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="https://www.rmkk.by/en/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/20.jpg" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="http://gomelraton.com/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/21.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="http://bgs.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/long/11.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="https://bpovc.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/22.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="https://gokb.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/23.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="https://belarusbank.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/long/12.jpg" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 mb-3">
                            <a target="_blank" class="link-btn" href="http://bvgroup.by/">
                                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/short/24.jpg" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/particles/particles.min.js"></script>
    <script src="~/lib/animateNumber/jquery.animateNumber.min.js"></script>
    <script src="~/lib/grayScale/js/jquery.gray.min.js"></script>
    <script src="~/js/animateNumber-config.min.js"></script>
    <script src="~/js/particles-config.min.js"></script>
    <script src="~/lib/aosAnimate/aos.js"></script>
    <script>
        AOS.init({ disable: 'mobile' });
    </script>
    <script>
        $(document).ready(function () {
            $('.slogan-caption').addClass('animate show');
        });
    </script>
    <script>
        $('#carousel').carousel({
            interval: 5000,
        });
        $('#carousel').on('slid.bs.carousel', function () {
            AOS.refresh();
        });
    </script>
    <script>
        $('.thumbnail').hover(
            function () { $().addClass('hover') },
            function () { $(this).removeClass('hover') }
        );
    </script>
}
