@model Giprojivmash.WEB.Models.Home.IndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <link rel="stylesheet" href="~/lib/grayScale/css/gray.min.css" />
    <link rel="stylesheet" href="~/lib/aosAnimate/aos.css" />
}


<div class="container-fluid">
    <div class="d-none d-md-block w-100">
        <div id="particles-js">
        </div>
        <div class="slogan-box d-flex" >
            <p>
                ВОПЛОЩАЕМ ВАШИ ИДЕИ В РЕАЛЬНОСТЬ
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <h3 class="text-center">БОЛЕЕ <span class="stat-numeric" id="years">0</span> ЛЕТ В ПРОЕКТИРОВАНИИ </h3>
            <h3 class="text-center">БОЛЕЕ <span class="stat-numeric" id="proj_rb">0</span> ПРОЕКТОВ НА ТЕРРИТОРИИ РЕСПУБЛИКИ БЕЛАРУСЬ </h3>
            <h3 class="text-center">БОЛЕЕ <span class="stat-numeric" id="proj_sng">0</span> ПРОЕКТОВ НА ТЕРРИТОРИИ РОССИИ, УКРАИНЫ, КАЗАХСТАНА, ЛИТВЫ </h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="d-md-flex align-self-center p-5 col-md-4" data-aos="fade-right">
            <img src="~/images/logo/logo_gipro_blue_bim.png" class="img img-fluid" alt="Гипроживмаш BIM" />
        </div>
        <div class="col-md-8" data-aos="fade-left">
            <p class="text-justify">
                ОАО «Гипроживмаш» - это в первую очередь специалисты,
                имеющие опыт и современный взгляд на решение любых проблем.
                Мы творчески подходим к решению любых задач, доводим до совершенства любую деталь.
                Для нас нет невыполнимых задач, мы беремся за проекты любой сложности и всегда стараемся выполнить все качественно и в срок.
            </p>
            <p>
                ОАО «Гипроживмаш» осуществляет работы по проектированию и строительству зданий и сооружений,
                геодезенические и картографические работы, осуществляет работы в области промышленной и пожарной безопасности,
                осуществляет деятельность по обеспечению безопасности юридических и физических лиц.
            </p>
            <p>
                ОАО «Гипроживмаш» имеет <a target="_blank" href="/лицензии-и-сертификаты#gallery-9">сертификат соответствия</a> Системы менеджмента качества проектирования требованиям СТБ ISO 9001
            </p>

        </div>
    </div>
    <div class="row">
        <a asp-action="Design" asp-controller="Service" class="col-md-4 a-block p-1">
            <div class="thumbnail" data-aos="fade-left" data-aos-delay="0" style="background-image: url(/images/services/design.jpg)">
                <span class="caption">
                    <span class="name">Проектирование</span>
                    <span class="description">Комплексные решения в проектировании объектов любой сложности</span>
                </span>
            </div>
        </a>
        <a asp-action="InvestmentJustification" asp-controller="Service" class="col-md-4 a-block p-1">
            <div class="thumbnail" data-aos="fade-left" data-aos-delay="150" style="background-image: url(/images/services/engineering.jpg)">
                <span class="caption">
                    <span class="name">Обоснование инвестиций</span>
                    <span class="description">Инженерные и консультационные услуги на профессиональном уровне</span>
                </span>
            </div>
        </a>
        <a asp-action="Geodesy" asp-controller="Service" class="col-md-4 a-block p-1">
            <div class="thumbnail" data-aos="fade-left" data-aos-delay="300" style="background-image: url(/images/services/geodesy.jpg)">
                <span class="caption">
                    <span class="name">Инженерно-геодезические изыскания</span>
                    <span class="description">Проводим работыя с использованием высокоточное оборудование и современное програмное обеспечение</span>
                </span>
            </div>
        </a>
    </div>
    <div class="row">
        <a asp-action="Ecology" asp-controller="Service" class="col-md-4 a-block p-1">
            <div class="thumbnail" data-aos="fade-right" data-aos-delay="300" style="background-image: url(/images/services/ecology.jpg)">
                <span class="caption">
                    <span class="name"> Экологическое проектирование</span>
                    <span class="description">Проводим работы с использованием современного оборудование и современное програмное обеспечение</span>
                </span>
            </div>
        </a>
        <a asp-action="IndustrialSafety" asp-controller="Service" class="col-md-4 a-block p-1">
            <div class="thumbnail" data-aos="fade-right" data-aos-delay="150" style="background-image: url(/images/services/industrialSafety.jpg)">
                <span class="caption">
                    <span class="name">Промышленная безопасность</span>
                    <span class="description">Проектирование технических устройств применяемых на опасных производственных объектах</span>
                </span>
            </div>
        </a>
        <a asp-action="SystemSafefty" asp-controller="Service" class="col-md-4 a-block p-1">
            <div class="thumbnail" data-aos="fade-right" data-aos-delay="0" style="background-image: url(/images/services/safety.jpg)">
                <span class="caption">
                    <span class="name">Системы безопасности</span>
                    <span class="description">Проектирование систем пожаробезопасности и систем охраны</span>
                </span>
            </div>
        </a>
    </div>
    <div class="row mt-3 mb-3">
        <div class="d-none d-sm-block col-sm-4 mb-3" data-aos="fade-up">
            <a target="_blank" class="link-btn" href="https://www.belorusneft.by/">
                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/belneft.png" />
            </a>
        </div>
        <div class="d-none d-sm-block col-sm-4 mb-3" data-aos="fade-up">
            <a target="_blank" class="link-btn" href="http://www.gomeldrev.by/">
                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/gomeldrev.png" />
            </a>
        </div>
        <div class="d-none d-sm-block col-sm-4 mb-3" data-aos="fade-up">
            <a target="_blank" class="link-btn" href="https://www.gomelenergo.by/">
                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/gomelenergo.png" />
            </a>
        </div>
        <div class="d-none d-sm-block col-sm-4 mb-3" data-aos-delay="100" data-aos="fade-up">
            <a target="_blank" class="link-btn" href="https://www.gomselmash.by/">
                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/gomselmash.png" />
            </a>
        </div>
        <div class="d-none d-sm-block col-sm-4 mb-3" data-aos-delay="100" data-aos="fade-up">
            <a target="_blank" class="link-btn" href="http://belfert.by/">
                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/himzavod.png" />
            </a>
        </div>
        <div class="d-none d-sm-block col-sm-4 mb-3" data-aos-delay="100"  data-aos="fade-up">
            <a target="_blank" class="link-btn" href="http://kristall.by/">
                <img class="img img-fluid grayscale grayscale-fade" src="~/images/partners/kristall.png" />
            </a>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/particles/particles.min.js"></script>
    <script src="~/lib/animateNumber/jquery.animateNumber.min.js"></script>
    <script src="~/lib/grayScale/js/jquery.gray.min.js"></script>
    <script src="~/js/animateNumber-config.min.js"></script>
    <script src="~/js/particles-config.min.js"></script>
    <script src="~/lib/aosAnimate/aos.js"></script>
    <script>
        AOS.init({ disable: 'mobile' });
    </script>
}
